services:
  - type: web
    name: netflix-recommend
    env: node
    buildCommand: npm ci
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: ADMIN_PASSWORD
        sync: false
      - key: TMDB_API_KEY
        sync: false
